.review{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 0px;
    gap: 60px;
    align-items: flex-start;
}
.review-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}