.user-card {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
}
/* Avatar */
.user-card > .thumbnails {
    width: 230px;
    height: 230px;
    overflow: hidden;
    user-select: none;
    border-radius: 10px;
}
.user-card > .thumbnails > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
}
/* Content */
.user-card > .content {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-items: center;
}
.user-card > .content > .username {
    color: #252b42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
.user-card > .content > .title {
    color: #737373;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.user-card > .content > .social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.user-card > .content > .social-media > a {
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: unset;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.2s all;
}
.user-card > .content > .social-media > a:hover {
    color: black;
}
