.newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 100px 0px;
}
.newsletter > .section-title {
    width: 680px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.newsletter > .section-title > .subtitle{
    color: #96BB7C;
    font-size: 14px;
    list-style: 28px;
    font-weight: 700;
    letter-spacing: 2px;
}
.newsletter > .section-title > .title{
    font-size: 24px;
    color: #252B42;
    font-weight: 700;
    line-height: 48px;
    
}
.newsletter > .section-title > .paragraph{
    font-size: 14px;
    color: #737373;
    font-weight: 400;
    line-height: 24px;
    

}
/* email box section */
.newsletter > .email-box {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background: #f9f9f9;
}

.newsletter > .email-box > #newsletter-email-input{
    background-color: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: black;
    padding: 25px 30px;
    font-size: 16px;
    font-family: inherit;
    letter-spacing: 1px;
}
/* subscribe button */
.newsletter > .email-box > #subscribe-button{
    width: 120px;
    height: 100%;
    background-color: #96BB7C;
    color: #ffffff;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    
}
.newsletter > .email-box > #subscribe-button:hover{
    background-color: #83a36c;
    cursor: pointer;
}
