.product {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  border-radius: 10px;
}

.product > .top {
  position: relative;
  width: 100%;
  height: 300px;
}
.product > .top > .thumbnails {
  width: 100%;
  height: inherit;
  overflow: hidden;
  border-radius: 10px;
}
.product > .top > .thumbnails > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.product > .top > .actions {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.product > .top > .actions > .top-badge {
  background-color: #e74040;
  color: white;
  width: max-content;
  height: 24px;
  border-radius: 4px;
  position: absolute;
  top: 12px;
  left: 10px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  user-select: none;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  padding: 0px 10px;
}
.product > .top > .actions > .action-button {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  gap: 10px;
  padding: 5px 10px;
}
.product > .top > .actions > .action-button > div {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  border-radius: 50%;
  padding: 10px;
}
.product > .top > .actions > .action-button > div:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.product > .bottom {
  width: 100%;
  height: 300px;
  flex-direction: column;
  gap: 10px;
  padding: 25px 25px 35px 25px;
}

.product > .bottom > .category {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product > .bottom > .category > a {
  text-decoration: none;
  color: #2d5bfd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  user-select: none;
}
.product > .bottom > .category > .rate {
  padding: 5px 8px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #2d4059;
  border-radius: 10px;
}

.product > .bottom > .category > .rate > .star-icon {
  color: #ffce31;
}
.product > .bottom > .category > .rate > .digit {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
.product > .bottom > .product-title {
  color: #252b42;
  font-size: 16px;
  font-weight: 700px;
  line-height: 24px;
}
.product > .bottom > .product-description {
  color: #737373;
  font-size: 14px;
  font-weight: 400px;
  line-height: 20px;
}
.product > .bottom > .sale {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: #737373;
  letter-spacing: 2px;
}
.product > .bottom > .price {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 3px;
}

.product > .bottom > .price > .main {
  color: #bdbdbd;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-decoration: line-through;
}
.product > .bottom > .price > .disscount {
  color: #e74040;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.product > .bottom > .learn-more {
  outline: none;
  border: none;
  background-color: transparent;
  color: #2d5bfd;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #2d5bfd;
  border-radius: 12px;
  transition: 0.2s all;
}
.product > .bottom > .learn-more:hover {
  background-color: #2d5bfd;
  color: white;
  cursor: pointer;
}
