.matters{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 120px 0px;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
/* Left Section */
.matters > .left{
    display: flex;
    width: 507px;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}
.matters > .left > .title{
    font-size: 40px;
    font-weight: 700;
    color: #252B42;
    line-height: 50px;

}
.matters > .left > .paragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}
/* Learn More Button */
.matters > .left > .learn-more{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.matters > .left > .learn-more:hover{
    border-bottom-color: #2d5bfd

}
.matters > .left > .learn-more > h6{
    font-size: 14px;
    color: #2d5bfd;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;

}
.matters > .left > .learn-more > .icon{
    color: #2d5bfd;
    width: 14px;
    height: 14px;
}
.matters > .left > .line{
    width: 95px;
    height: 5px;
    background-color: #2d5bfd;
}
/* Right Side */
.matters > .right{
    width: 504px;
    /* height: 400px; */
    background-repeat: no-repeat;
    position: relative;
    background-size: 340px;
    background-position: bottom;
}
.matters > .right > .main-image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.matters > .right > .main-image > img{
    width: 280px;
    height: auto;

}
.matters > .right > .absolute-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
/* Right side shape */
.matters > .right > .absolute-image > .image-bottom-right{
    position: absolute;
    width: 380px;
    bottom: 0;
    right: 0

}
.matters > .right > .absolute-image > .image-top-right{
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
}
.matters > .right > .absolute-image > .image-top-left{
    position: absolute;
    width: 60px;
    top: 0;
    left: 0;
    
}
.matters > .right > .absolute-image > .image-bottom-left{
    position: absolute;
    bottom: 0;
    left: 40px;

}

