/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  font-size: 48px;
}

p, span, li, h4, h5, h6, a {
  font-family: 'Poppins', sans-serif;
  white-space: pre-line;
  line-height: 1.5;
}

.app{
  margin: 0 auto;
  height: auto;
}