/* Reset Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Font Config */
@font-face {
    font-family: lato-font;
    src: url("../../public/Lato/Lato-Regular.ttf");
}
body{
    font-family: lato-font;
    font-size: 16px;
    background-color: #f7f7f7;
}

.app{
    margin: 0 auto;
    width: 80%;
    height: auto;
}