.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-start;
    padding: 40px 0px;
    position: relative;
}
.top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;

}
.top > .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    align-self: flex-start;
    padding: 10px 0px;


}
/* Main  H1 Title */
.top > .left > h1 {
    color: #252B42;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    /* width: 500px; */
}
/* Main  H4  sub Title */
.top > .left > h5 {
    color: #96BB7C;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}
.top > .left > h4 {
    color: #252b42;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2px;
}
/* Header main cta button */
.top > .left > .btn-container{
    display: flex;
    align-items: center;
    gap: 30px;

}
.top > .left > .btn-container > .button-filled{
    background-color: #96BB7C;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}
.top > .left > .btn-container > .button-outline{
    border:1px solid #96BB7C;
    color: #96BB7C;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

/* Hero Image section */
.top > .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    
}
.top > .right > .main-image-container {
    background-image: url("http://localhost:3000/Rectangle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.top > .right > .main-image-container > img{
    width: 100%;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}
/* Card Section */
.bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 80px 0px; */
    width: 100%;
}
.bottom > .card-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1280px) {
    .top{
        flex-direction: column;
    }

  }