.responsive-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.title{
    font-size: 50px;
    color: #252B42;
    line-height: 50px;
}

@media (min-width: 992px) {
  .responsive-img {
    width: 60%;
  }
}
