.navbar {
    width: 100%;
    height: 91px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}
/* Navbar Brand Logo Section */
.nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}
.nav-logo > .logo {
    width: 100px;
    height: auto;
}
.nav-logo > .title {
    color: #252b42;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;
}
/* Navbar Menu Item Section */
.nav-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.nav-menu-item {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
    transition: all 0.2s;
}
.nav-menu-item:hover {
    cursor: pointer;
    color: #474747;
}

/* Navbar Login Or Sign-up Section */
.nav-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.nav-login > .join-us {
    background-color: #2d5bfd;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.nav-login > .join-us > span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1.0px;
    text-transform: uppercase;
}

