.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: flex-start;
    padding: 50px 0px;
    gap: 40px;
    justify-content: center;
}
.footer > .section{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}