.footer-subtitle {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    
}
.footer-subtitle:hover{
    text-decoration: underline;
}