.footer-title-with-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.footer-title-with-icon > .icon{
    width: 25px;
    height: 25px;
    color: #2d5bfd;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-title-with-icon > .inner-text{
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 28px;

}