.copyright{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    flex-wrap: wrap;
    gap: 20px;

}
/* Text */
.copyright > .innertext{
    display: flex;
    align-items: center;
    gap: 5px;
}
.copyright > .innertext > a{
    color: black;
    letter-spacing: 1px;
}

/* Github */
.copyright > .github-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    text-decoration: underline;
}

